{% extends "base.html" %}
{% block content %}

<!-- <div class = "row" style = "padding-bottom: 10px;">
  <div class = "col-sm-6 col-sm-offset-3 tagline">
    <p>How does this work?</p>
  </div>
</div>
 -->
<div class = "row" style = "padding-top: 25px;">
  <div class = "col-sm-8 col-sm-offset-2">
    <p>
      Fog or Not makes hourly predictions about how much fog there will be in San Francisco, for each neighborhood.
    </p>
    <p>
      The predictions are based on micro-local weather data from hundreds of personal weather stations across the city. These are basically <a href = "https://www.netatmo.com/en-US/product/weather-station" target = "_blank">small weather monitoring units</a> that people have put on their roofs and out their windows. 
    </p>
    <p>
      Fog or Not is built using the <a href = "https://www.wunderground.com/weather/api" target = "_blank">Weather Underground</a> API, which aggregates data streams from over 100K+ personal weather stations around the world. (If you're into weather, it's a really neat dataset to explore.)
    </p>
    <p>
      Fog or Not is built using the <a href = "https://www.wunderground.com/weather/api" target = "_blank">Weather Underground</a> API, which aggregates data streams from over 100K+ personal weather stations around the world. (If you're into weather, it's a really neat dataset to explore.)
    </p>
    <br>
    <p style = "font-size: 1.25em; font-weight: bold;">
      {+} How fog is calculated
    </p>
  </div>
</div>

{% endblock %}

