{% extends "base.html" %}
{% block content %}

<script src = "https://code.jquery.com/jquery-2.1.4.min.js"></script>


        <div class = "row">
          <div class = "col-sm-6 col-sm-offset-3 tagline" style = "padding-top: 10px;">
            <p>Predicting the San Francisco fog</p>
          </div>
        </div>


        <div class = "row" style = "padding-bottom: 25px;">
          <div class = "col-sm-6 col-sm-offset-3" style = "text-align: center;">
            <label for="fader"></label>
              <output for="fader" id="time">Use slider to pick a time</output>
              <br/>
              <input type="range" min="0" max="100" value = "50" id="fader" step="3600000" oninput="outputUpdate(value)" style = "width: 70%; float:none; display:inline-block">

              <script "text/javascript">
              
              function outputUpdate(vol) {
                var ts = new Date(parseInt(vol));
                hour = vol / 1000;
                document.querySelector('#time').value = ts.toString();
                styleMap();
              }

              window.onload = function() {
                var next_hour = roundMinutes(new Date(Date.now()));
                var last_hour = roundMinutes(new Date(Date.now() + (3600000 * 120)));

                $('#fader').prop('min', Date.parse(next_hour));
                $('#fader').prop('max', Date.parse(last_hour));
                $('#fader').prop('value', Date.parse(next_hour));
                hour = Date.parse(next_hour) / 1000;
              }

              function roundMinutes(date) {

                  date.setHours(date.getHours() + Math.round(date.getMinutes()/60));
                  date.setMinutes(0);
                  date.setSeconds(0);

                  return date;
              }

              </script>
            </div>
          </div>


        <div class = "row">
          <div class = "col-sm-6 col-sm-offset-3 footer">
            <p>predictions based on data from amateur weather stations<br/>fog is blue. darker blue means more fog. black means no data for that area</p>
          </div>
        </div>

        <div class = "row" style = "height: 500px;">
          <div id="map" class = "col-xs-10 col-xs-offset-1"></div>

              <script type="text/javascript">
                var map;
                var hour = (Date.parse(roundMinutes(new Date(Date.now()))) / 1000);

                function initMap() {
                  map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 37.762, lng: -122.450},
                    zoom: 12
                  }); 
                  map.data.addGeoJson({{ jsonfile|safe }});
                  styleMap();
                }
                
                

              function styleMap() {
                map.data.setStyle(function(feature) {
                  var forecast = feature.getProperty(hour.toString());
                  var color = "black";
                  var opacity = 0.8;
                  if (typeof forecast != "undefined") {
                    color = "blue";
                    opacity = forecast / 5;  
                  }
                  return ({
                    fillColor: color,
                    fillOpacity: opacity,
                    strokeWeight: 0
                  });
                });
              }
              </script>

            <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVtgQwklaYQq6Ec7QVvw9bhATwpJEAlAw&callback=initMap">
            </script>

        </div>
{% endblock %}